build/
out/
bin/
logs/
log/
modules/*/lib/

include/ylt/
vcpkg/
file.txt
!vcpkg.json
!test/log/
!src/log/
!include/log/
!modules/log/

.idea/
.vs/
manual_download/
vcpkg_installed/
hls/
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/cmake.db

*.log
*.pdb
*.ilk
tools/win32/zlmediakit/www/
tools/win32/zlmediakit/www/live/
tools/win32/zlmediakit/www/live/proxy_cam1/
tools/win32/zlmediakit/www/live/proxy_cam1/hls.m3u8

__pycache__/
*.pyc
*.pyo
*.pyd
