build/
out/
bin/
logs/
log/

include/ylt/
vcpkg/
file.txt
!vcpkg.json
!test/log/
!src/log/
!include/log/

.idea/
.vs/
manual_download/
hls/
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/cmake.db

